.box {
    color: white;
    border: 2px solid red;
    padding: 20px;
}

#debug {
    position:absolute;
    z-index:500;
    top:0;
    left: 0;
    min-width:200px;
}

a.box {
    position: absolute;
    right:0;
}
